<div class="score-board">
  <% if Current.player %>
    <% current_team = Current.player.team %>
    <% other_team = current_team == 1 ? 2 : 1 %>
    <div class="team-line">
      Team <%= current_team %> (You & Partner): <span><%= @game.team_total_score(current_team) %></span>
    </div>
    <div class="team-line">
      Team <%= other_team %> (Opponents): <span><%= @game.team_total_score(other_team) %></span>
    </div>
  <% else %>
    <div class="team-line">Team 1: <span><%= @game.team_total_score(1) %></span></div>
    <div class="team-line">Team 2: <span><%= @game.team_total_score(2) %></span></div>
  <% end %>
</div>
