<%= render 'dev_user_switcher' %>

<% if @game.pending? || @game.bidding? || @game.done? %>
  <div class="navigation">
    <%= link_to "â† Back to Games", games_path, class: "button" %>
  </div>

  <% if @game.pending? %>
    <%= render 'lobby' %>
  <% elsif @game.bidding? %>
    <div class="game-page">
      <%= render 'scores' if @game.round_scores.any? %>
      <%= render 'bidding' %>
      <%= render 'cards' %>
    </div>
  <% elsif @game.done? %>
    <%= render 'done' %>
  <% end %>
<% elsif @game.playing? %>
  <div class="game-page">
    <%= render 'scores' %>
    <%= render 'play' %>
    <%= render 'cards' %>
  </div>
<% end %>
