<div class="new-invitation" data-controller="tabs" data-tabs-active-tab-value="email">
  <h1>Send Friend Invitation</h1>

  <div class="invitation-tabs">
    <button type="button" class="tab-button active" data-tab="email" data-tabs-target="button" data-action="click->tabs#switch">Invite by Email</button>
    <button type="button" class="tab-button" data-tab="code" data-tabs-target="button" data-action="click->tabs#switch">Add by Friend Code</button>
  </div>

  <div id="email-tab" class="tab-content active" data-tabs-target="content">
    <%= form_with model: @invitation, url: friend_invitations_path do |form| %>
      <% if @invitation.errors.any? %>
        <div class="error-messages">
          <ul>
            <% @invitation.errors.full_messages.each do |message| %>
              <li><%= message %></li>
            <% end %>
          </ul>
        </div>
      <% end %>

      <div class="field">
        <%= form.label :invitee_email, "Friend's email address" %>
        <%= form.email_field :invitee_email %>
      </div>

      <div class="actions">
        <%= form.submit "Send Invitation", class: "button" %>
        <%= link_to "Cancel", friends_path %>
      </div>
    <% end %>
  </div>

  <div id="code-tab" class="tab-content" data-tabs-target="content">
    <%= form_with url: friend_invitations_path, method: :post, local: true do |form| %>
      <div class="field">
        <%= form.label :friend_code, "Friend's code" %>
        <%= form.text_field :friend_code, placeholder: "Enter 8-character friend code", maxlength: 8, style: "text-transform: uppercase;" %>
        <%= form.hidden_field :invitation_type, value: "friend_code" %>
      </div>

      <div class="actions">
        <%= form.submit "Add Friend", class: "button" %>
        <%= link_to "Cancel", friends_path %>
      </div>
    <% end %>
  </div>

  <div class="invitation-info">
    <h3>Your Friend Code</h3>
    <p>Share this code: <strong><%= Current.user.user_code %></strong></p>
    <p>Your email: <strong><%= Current.user.email_address %></strong></p>
  </div>
</div>